<br>
<br>
<h1 class="text-center merch-heading"> Get your Official DCC</h1>
<h1 class="text-center merch-heading">Merch Right here!</h1>
<br>
<br>
<div class="merch-section-heading">
  <h2 class="text-center"><b>HOODIES<b><h2>
</div>
<br>

<div class="row" style="width:99%; margin-left:0%; height: 40rem">
  <div class="col-6 col-md-4" style="height:100%"><%= image_tag "greenHoodie.PNG", alt: "some txt", height: "70%", width: "70%", :style=> "margin-right: 20%; margin-left: 15%"%><br><br><a href="#" class="merch-clear">Green DCC Hoodie $24.99</a></div>
  <div class="col-6 col-md-4" style="height:100%"><%= image_tag "whiteHoodie.PNG", alt: "some txt", height: "70%", width: "70%", :style=> "margin-right: 20%; margin-left: 15%"%><br><br><a href="#" class="merch-clear">Green DCC Hoodie $34.99</a></div>
  <div class="col-6 col-md-4" style="height:100%"><%= image_tag "blueHoodie.PNG", alt: "some txt", height: "70%", width: "70%", :style=> "margin-right: 20%; margin-left: 15%"%><br><br><a href="#" class="merch-clear">Green DCC Hoodie $24.99</a></div>
</div>
<div class="merch-section-heading">
  <h2 class="text-center"><b>HATS<b><h2>
</div>
<br>
<div class="row" style="width:99%; margin-left:0%; height: 40rem">
  <div class="col-6 col-md-4" style="height:100%"><%= image_tag "greenHat.PNG", alt: "some txt", height: "70%", width: "70%", :style=> "margin-right: 20%; margin-left: 15%"%><br><br><a href="#" class="merch-clear">Green DCC Face Cap $14.99</a></div>
  <div class="col-6 col-md-4" style="height:100%"><%= image_tag "blueHat.PNG", alt: "some txt", height: "70%", width: "70%", :style=> "margin-right: 20%; margin-left: 15%"%><br><br><a href="#" class="merch-clear">Blue DCC Face Cap $14.99</a></div>
  <div class="col-6 col-md-4" style="height:100%"><%= image_tag "logoHat.PNG", alt: "some txt", height: "70%", width: "70%", :style=> "margin-right: 20%; margin-left: 15%"%><br><br><a href="#" class="merch-clear">Logo DCC Hoodie $19.99</a></div>
</div>
